[submodule ".registry"]
	path = .registry
	url = https://github.com/wanglabcsu/wanglabcsu.r-universe.dev
	branch = HEAD
[submodule "IDConverter"]
	path = IDConverter
	url = https://github.com/ShixiangWang/IDConverter
	registered = false
[submodule "ScPP"]
	path = ScPP
	url = https://github.com/WangX-Lab/ScPP
	registered = false
[submodule "Scissor"]
	path = Scissor
	url = https://github.com/sunduanchen/Scissor
	registered = false
[submodule "SigBridgeR"]
	path = SigBridgeR
	url = https://github.com/WangLabCSU/SigBridgeR
[submodule "blit"]
	path = blit
	url = https://github.com/WangLabCSU/blit
[submodule "bregr"]
	path = bregr
	url = https://github.com/WangLabCSU/bregr
[submodule "mire"]
	path = mire
	url = https://github.com/WangLabCSU/mire
[submodule "scAB"]
	path = scAB
	url = https://github.com/Qinran-Zhang/scAB
	registered = false
[submodule "scPAS"]
	path = scPAS
	url = https://github.com/aiminXie/scPAS
	registered = false
